body {
  background-color: #ccc;
  font-family: sans-serif;
  display: flex;
  margin: 8%;
  margin-top: 30px;
  margin-bottom: 0;
}

header {
  margin: 0 auto;
  font-size: 36px;
}

.images {
  border-radius: 100%;
  width: 200px;
}

#main-content {
  flex-wrap: nowrap;
}
article {
}
