body {
  background-color: #ccc;
  font-family: sans-serif;
  display: block;
  margin: 8px;
}

header {
  margin: 0 auto;
  font-size: 36px;
  margin-right: 20px;
}

#mainHeading {
  color: red;
}

#testP {
  color: green;
}

.images {
  width: 200px;
  display: block;
}

#main-content {
}
article {
  display: block;
}
footer {
  background-color: #222;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: -10px;
  left: -10px;
}
